@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black font-sans antialiased;
  }
}

@layer components {
  .btn-primary {
    @apply bg-brand-orange text-white px-6 py-3 rounded-lg;
  }
}
